{% extends "base.html" %}
{% set active_page = 'Binge-Planner' %}
{% block title %} Binge-Planner
<link href="myStyle.css" rel="stylesheet"/>
{% endblock %}

{% block content %}


    {%if aForm is defined%}

    <div>
        <form action="#" method="post"> {{ aForm.csrf_token }}
    <div class="row" style = "background-image: url({{ url_for('static', filename='image.jpg', mode = 'fit') }})">
        <div class="col">
            {{ aForm.search_titles.label(class="form-label") }}
		    {{ aForm.search_titles(class="form-control") }}
        </div>

        <div class="col">
            {{ aForm.input_ID.label(class="form-label") }}
		    {{ aForm.input_ID(class="form-control") }}
        </div>

        <div class="col">
            {{ aForm.submit(class="btn btn-primary") }}


<!--            <form action="/display" method="post"> <input type="submit" name=moreinfo value={{aForm.submit(class="btn-->
<!--                                                            btn-primary")}}> </form>-->

<!--           <form action="/display" method="post"> input type="submit" name=moreinfo value={{aForm.submit(class="btn-->
<!--                                                            btn-primary")}} </form>-->
        </div>

    </div>
        </form>

    </div>

    {%if aForm.input_ID(class="form-control") is defined%}

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Synopsis</th>
              <th scope="col">Total RunTime</th>
            </tr>
          </thead>
          <tbody>


                    {% if myData is defined %}
                    <tr>
                      <th scope="row"></th>
                      <td class="align-middle"><img src={{ myData['image'] }} class="img-thumbnail" style="max-height:150px;
                          max-width:150px;" class="align-middle"> {{ myData['title']}} </td>
                        <td class="align-middle">{{ myData['plot']}}</td>
                        <td class="align-middle">{{ myData['runtimeStr']}}</td>
                    </tr>

                {% endif %}

          </tbody>
        </table>
    {% endif %}



    {%endif%}











    <form action="#" method="post">
    {{ form.csrf_token }}
    <div class="row" style = "background-image: url({{ url_for('static', filename='image.jpg', mode = 'fit') }})">
        <div class="col">
            {{ form.search_titles.label(class="form-label") }}
		    {{ form.search_titles(class="form-control") }}
        </div>

        <div class="col">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
    </form>



    <table class="table" style = "background-image: url({{ url_for('static', filename='image.jpg', mode = 'fit') }})">
      <thead>
        <tr>
          <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">IMDB_ID#</th>
            <th scope="col">Genre</th>
            <th scope="col">Rating</th>
            <th scope="col">Date</th>


        </tr>
      </thead>
      <tbody>

      {% for result in myData %}
            <tr>
              <th scope="row"></th>
              <td class="align-middle"><img src={{ result['image'] }} class="img-thumbnail" style="max-height:150px;
                  max-width:150px;"> {{ result['title']}} </td>

                <td class="align-middle">{{ result['id']}}</td>
                <td class="align-middle">{{ result['genres']}}</td>
                <td class="align-middle">{{ result['imDbRating']}}</td>
                <td class="align-middle">{{ result['description']}}</td>

            </tr>
      {% endfor %}

      </tbody>
    </table>


 {% endblock %}