{% extends "base.html" %}
{% set active_page = 'Binge-Planner' %}
{% block title %} Binge-Planner
<link href="./static/css/style.css" rel="stylesheet"/>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
            <p> {{ msg }}</p>
        {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <form action="#" method="post" enctype="multipart/form-data" class="text-dark">
    {{ form.csrf_token }}
<!--    <div class="row" style = "background-image: url({{ url_for('static', filename='image.jpg', mode = 'fit') }})"> -->
      <div class = "row">
        <div class="col">
              {{ form.title_name.label(class="form-label") }}
        </div>
        <div class="col">      
              {{ myData['series_title']}}
          </div>
      </div>

      <div class = "row">
        <div class="col">
              {{ form.title_plot.label(class="form-label") }}
        </div>
        <div class="col">      
              {{ myData['series_plot']}}
          </div>
      </div>


      <div class = "row">

          <div class="col">   
              {% for num in myData[seasons_list] %}
                  <a class = "btn btn-primary" data-bs-toggle="collapse" href="#season{{num}}" role="button" aria-controls="season{{num}}">Season {{num}}</a>    
                          <div class = "col">
                              <div class = "collapse multi-collapse" id="season{{num}}">
                                {% for ep in range(10) %}  
<!--                                <div class = "card card-body">Placeholder for Season {{num}} episodes  -->
                                        <div class = "card card-body">TITLE: {{ myData[s_ep_title][num][ep] }} 
                                        </div>
                                {% endfor %}
                                </div>
                          </div>
                      </div>
                  </div>
                </div>
              {% endfor %}
          </div>

        </div>

        <div class = "row">
          <div class="col">
                {{ form.title_rating.label(class="form-label") }}
          <div class="col">      
                {{ myData['series_rating']}}
            </div>
          </div>
        <div class = "row">
        <div class="col">      
          <img src={{ myData['series_image'] }} class="img-thumbnail" style="max-height:300px;max-width:300px;">
          </div>
      </div>

    </form>

  
 {% endblock %}